body{
  margin: 0;
  background: white;
}

.title{
  position: relative;
  bottom: 350px;
  left: 280px;
  width: 400px;
  margin: 0 auto;
  color: #3b5249;
}

.title-h1{
  display: inline;
  /* width: 180px; */
  font-size: 80px;
  font-family: 'Sacramento', cursive;
  margin: 0 auto;
}

.title-p{
  display: inline;
  font-family: 'Itim', cursive;
  font-size: 20px;
  /* width: 180px; */
  /* margin: 0 auto; */
}

.top{
  background-color: #f1f1e8;
  text-align: center;
  margin-top: 100px;
}

.forest{
  position: relative;
  right: 170px;
}

.left-tree{
    position: relative;
    height: 110px;
    bottom: 30px;
    right: 70px;
}

.right-tree{
    position: relative;
    height: 130px;
    bottom: 150px;
    left: 180px;
}
