body {
  margin: 0;
  padding: 0;
  background-color: #f1f1e8;
}

.menu-bar{
  background-color: #f1f1e8;
  text-align: center;
}

.buttons{
  display: inline;
  /* margin: 0 auto 40px auto; */
  text-align: center;
  position: relative;
  bottom: 40px;
  left: 250px;
}

.links{
  font-size: 20px;
  margin: 25px;
  color: #3b5249;
  text-decoration: none;
}

.profile{
  margin-top: 20px;
  position: relative;
  right: 300px;
  width: 100px;
  opacity: 0.8;
}

.top{
  background-color: #f1f1e8;
  text-align: center;
  /* margin-top: 100px; */
}

.title{
  position: relative;
  bottom: 350px;
  left: 250px;
  width: 400px;
  margin: 0 auto;
  color: #3b5249;
}

.title-h1{
  display: inline;
  /* width: 180px; */
  font-size: 80px;
  font-family: 'Sacramento', cursive;
  margin: 0 auto;
}

.title-p{
  display: inline;
  font-family: 'Itim', cursive;
  font-size: 25px;
  /* width: 180px; */
  /* margin: 0 auto; */
}

.forest{
  position: relative;
  right: 170px;
  margin-top: 20px;
}

.left-tree{
    position: relative;
    height: 110px;
    bottom: 30px;
    right: 70px;
}

.right-tree{
    position: relative;
    height: 130px;
    bottom: 150px;
    left: 180px;
}
hr{
  border-top: 4px;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  border-color: #4e89ae;
  width: 40px;
  border-style: dotted;
  margin: 0 auto;
  position: relative;
  left: 80px;
  bottom: 100px;
}
/********************************* Middle **************************************/
.middle{
  background-color: #f1f1e8;
  text-align: center;
  margin-top: 40px;
  /* height: 400px; */
}

.computer{
  text-align: center;
  height: 250px;
  position: relative;
  right: 400px;
  bottom: 70px;
}

.computer-text{
  text-align: center;
  width: 500px;
  margin: 0 auto;
  color: #3b5249;
  font-size: 22px;
  position: relative;
  left: 150px;
  bottom: 300px;
  line-height: 30px;
}

.text-p{
  font-family: 'Itim', cursive;
  text-align: left;
}

.text-h2{
  font-family: 'Indie Flower', cursive;
  font-size: 40px;
}

/* *********************** Connecter ******* */
